body{
    background-color: #CD5C5C;
}

.card{
    border: none;
    margin-top: 300px;
    box-shadow: black;
}

.card-title {
text-align: center;

}
hr{
    border-bottom: solid black;;
}
 .btn {
    text-align: center;
    width: 360px;
}

.hide-card{
      border: none;
      visibility: hidden;
      display: none;
  
}
